<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
        <title>iSAT: Improved Sequence Analyzing Tool</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section class="header">
    <nav>
        <a href="index.html"><img src="{{url_for('static', filename='logo1.png')}}"></a>
        <div class="nav-links" id="navLinks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><a href="">HOME</a></li>
                <li><a href="">ABOUT US</a></li>
                <li><a href="">SERVICE</a></li>
                <li><a href="">RESEARCH</a></li>
                <li><a href="">TRAINING</a></li>
                <li><a href="">CONTACT</a></li>

            </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
    </nav>
<div class="text-box">
    <h1> An Improved Sequence Analyzing Tool</h1>
    <p> Explore our service to enrich your research. Browse data, management of complete and<br>up-to-date data sets for searching and analysing the sequence structures and moleculare profiles of biological sequences.</p>
    <a href="/index" class="hero-btn">Pairwise Sequence Alignment Tool</a>
</div>
        
    </section>
    
<!-------------Service------------>

<section class="Service">
    <h1> Services We Offer</h1>
    <p> Explore Our Services to enrich your research work</p>
    
    <div class="row">
        <div class="Service-col">
            <h3> Sequence Alignment Tool</h3>
            <p> Find the alignment and mutation position along with complete information about the functional amino acid with the note of its position and the corresponding frequency scores. </p>
        </div>
        <div class="Service-col">
            <h3> Antigenic peptide prediction</h3>
            <p> Find the information about the antigenic peptides with their molecular profiles and discovery the protein surface regions. </p>
         </div>
        <div class="Service-col">
            <h3> Submit Data</h3>   
            <p> The scientific method requeires the submission of original data and derivative information to public data repositories. iSAT offers a number of submission services for various types and scales of data.</p>
        </div>  
    </div>
</section>
<!------------Training------------------------------------>
    
<section class="Training">
    <h1> Train with Us</h1>
    <p> Explore our courses, webinars and online tutorials</p>
    
    <div class="row">
        <div class="Training-col">
            <img src="{{url_for('static', filename='taining-image1.jpg')}}">
            <div class="layer">
                <h3> Online Tutorial</h3>
            </div>
        </div>
        <div class="Training-col">
            <img src="{{url_for('static', filename='training-image2.jpg')}}">
            <div class="layer">
                <h3> Live Training</h3>
            </div>
        </div>
        <div class="Training-col">
            <img src="{{url_for('static', filename='Training-image3.jpg')}}">
            <div class="layer">
                <h3> Webinars</h3>
            </div>
                
        </div>
    </div>
</section>
<!------------------Call to Action------------------->
<section class="cta">
    <h1> Visit Our Tool <br> Anywhere From The World</h1>
    <a href="" class="hero-btn"> CONTACT US</a>
</section>
    
    
<!------------------Footer------------------->
    
    
<section class="footer">
    <h4> About Us</h4>
    <P>iSAT is the home for Bioinformatics. We help people exploit complec information to make discoveries that benefit humankind.</P>
    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
    </div>
</section>
    
    

<!-----------JavaScript for Toggle Menu------------------>
    
<script>
    
    var navLinks = document.getElementById("navLinks");
    
    function showMenu(){
        navLinks.style.right = "0";
    }
    function hideMenu(){
        navLinks.style.right = "-200px";
    }
    
</script>
</body>
</html>












